html{
    background: rgb(44,49,58);
    background: linear-gradient(107deg, rgb(40, 46, 58) 0%, rgb(80, 90, 105) 100%);
}
nav{
    position: fixed;
    top: 0;
    height:70px;
    background-color: transparent;
    width: 100%;
    z-index: 2;
    transition:0.6s all;
    font-family:Roboto,sans-serif;
}
nav a{
    font-family:Roboto,sans-serif;
    cursor: pointer;
    padding:10px;
    margin: 10px;
    color: white;
    text-decoration: none;
    transition:0.3s all;
}
body{
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
}
.container{
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
button{
    outline:none;
    border:none;
}
section:first-of-type{
    margin-top: 100px;
}
section{
    min-height:calc(100vh - 100px);
    width:100%;
    margin-top:500px;
    scroll-margin-top:70px;
    scroll-snap-align: start;
    overflow:hidden;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
hr{
    width: 100vw;
}
footer{
    margin-top:600px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    height:200px;
    width:98vw;
    scroll-snap-align: start;
    background-color:black;
    color: white;
}
/* projects */
.project-card{
    scroll-snap-align: start;
    border-radius: 10px;
    max-width: 500px;
    height:500px;
    box-shadow: -5px 5px 10px black;
    margin:30px;
    overflow: hidden;
    position: relative;
    transition: 0.5s all;
    cursor: pointer;
}
.project-card .subtitle{
    margin:20px 0px;
}
.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.project-img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.card-header{
    text-align: center;
}

.link,.skill{
    background-color:#00c9b7;
    color:white;
    padding:10px;
    border-radius: 10px;
    text-decoration: none;
    margin:20px;
    margin-bottom: 0px;
    height:fit-content;
    width: fit-content;
    text-shadow: -1px 1px 5px black;
}
.card-footer{
    margin-top:auto;
    display:flex;
    flex-wrap: wrap;
    height:75px;
    width:100%;
    background: rgb(44,49,58);
    background: linear-gradient(107deg, rgb(40, 46, 58) 0%, rgb(80, 90, 105) 100%);
}
.link:hover,.cta:hover{
    background-color:white;
    color:#00c9b7;
    text-shadow: none;
}
.landing{
    flex-direction: column;
}
.landing-bg{
    position: absolute;
    opacity: 0.5;
    width:100%;
    height:100%;
    object-fit: cover;
}
.projects{
    flex-wrap: wrap;
    padding-bottom: 400px;
    padding-top:70px;
}
.contact{
}
.about{
}
h1,h2,h3{
    font-family:Roboto,sans-serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.title{
    font-size: 60px;
    margin:0;
}
.subtitle{
    font-size: 30px;
}
.title,.subtitle{
    color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
}

#particles-js{
    height:100%;
    width: 100%;
    /* background: linear-gradient(107deg, rgb(40, 46, 58) 0%, rgb(80, 90, 105) 100%); */
    /* background-image: linear-gradient(to right, #2c313a, #30353e, #343942, #383d46, #3c414a, #40454d, #434850, #474c53, #4a4f56, #4e535a, #51565d, #555a61); */
}
canvas{
    height: 100vh!important;
    width:100vw!important;
}
/* responsive nav */
.topnav {
    overflow: hidden;
  }
.nav-container{
    float:right;
    margin-right:20px;
}
.topnav a {
    float: left;
    display: inline-block;
    color: #eeeeee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width:fit-content;
}

.topnav a:hover::after {
    opacity: 1;
    width:100%;
}
.topnav a:nth-of-type(5):hover,
.topnav a:last-of-type:hover{
    color:#00c9b7;
}
.topnav a:nth-of-type(5):hover:after,
.topnav a:last-of-type:hover:after{
    width:0;
}
.topnav a::after{
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 3px;
    background: #00c9b7;
    transition: all .3s;
    transform-origin: center;
}

.topnav a.active {
    background-color: #00c9b7;
    color: white;
}

.topnav .icon {
    display: none;
    font-size: 30px;
    margin: 15px 20px;
    padding:0;
}

.logo{
    cursor: pointer;
    height:70px;
    margin-left: 20px;
    float:left;
    transition:all .3s;
}

@media screen and (max-width: 680px) {
    .hidden-description p{
        font-size:18px!important;
        padding: 5px 5px 0px 5px!important;
    }
    .card-footer{
        height:118px;
        padding-bottom: 10px;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .nav-container{
        float:left;
    }
    .logo{
        position: absolute;
        left:50%;
        margin:0;
        transform:translateX(-50%);
    }
    .topnav{
        background: rgb(44,49,58);
        background: linear-gradient(107deg, rgb(40, 46, 58) 0%, rgb(80, 90, 105) 100%);
        height:70px;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive{
        height:310px;
    }
    .center-container{
        margin-top: 0px!important;
    }
  }
  .center-container{
      position: absolute;
      margin: 150px auto;
      color:#cc4d6d;
      padding:20px;
      text-align:center;
      width: calc(100% - 40px);
  }
  .cta{
    text-shadow: -1px 1px 5px black;
      background-color:#00c9b7;
      color:white;
      border-radius:25px;
      padding:20px;
      width:fit-content;
      margin: 50px auto;
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
  }
  #male,#female, #maleglow, #femaleglow{
      position: absolute;
      margin:0;
  }
  .maleglow{
      left:-6px;
      bottom:-7px;
  }
  .femaleglow{
      right:-13px;
      bottom:27px;
  }
  .male{
      bottom:0;
      left:0;
      opacity: 0.2;
  }
  .female{
    top:0;
    right:0;
    opacity: 0.2;
  }
  .show-plug{
     height:300px;
     width:100%;
     max-width:300px;
     margin:auto;
     position: relative;
  }
  #plug{
    display: flex;
  }
  .htmldiv{
      color:white;
      font-size:30px;
      position: absolute;
      top:90px;
      left:20px;
      font-family: 'Courier New', Courier, monospace;
  }
  .htmldiv:after{
    content:"</dev>";
  }

  .hidden-description{
    display:flex;
    flex-direction:column;
    top:0;
    right:0;
    bottom:0;
    left:0;
    position: absolute;
    transition: 0.5s;
    color:white;
    opacity: 0;
    padding-top:302px;
}
.hidden-description p{
    margin:10px;
    padding:20px;
    line-height:1.5;
    font-size:25px;

}
.hidden-description:hover{
    opacity: 1;
    transition: 0.5s all;
    /* background: linear-gradient(107deg, rgb(40, 46, 58) 0%, rgb(80, 90, 105) 100%); */
    background: linear-gradient(375deg,rgba(146, 175, 190, 0.8)0% ,rgba(65, 107, 129, 0.8) 50%,rgba(53, 82, 98, 1) 100%);
    padding-top:0px;
    cursor:pointer;
}